<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Read::</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b220f12e97.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        {% include "navbar.html" %}
        <br>
        <div class="row">
            <div class="col">
                <h3>User alias: </h3>{{user.alias}}
                <h3>Name: </h3>{{user.nombre}}
                <h3>Email: </h3>{{user.email}}
                <h3>Total Reviews: </h3>{{rev_count}}
                <br><br>
                <h3>Posted reviews on the followins books: </h3>

                <ul>
                    {% for review in reviews %}
                    <li>{{review.0.titulo}}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns " crossorigin="anonymous "></script>
</body>

</html>